<app-ntrca-header-section
  [(newToken)]="newToken"
  (applyTokenClick)="applyToken()"
  [remainingUnlocks]="trxRemaining"
></app-ntrca-header-section>
<!-- <div class="mainmsg" style="text-align: center;">
  <h1 class="msg">ট্রেড ইন্সট্রাক্টর/সহকারি শিক্ষক/প্রদর্শক/প্রভাষক  <b>আইসিটি</b> লিখিত কোর্স! <br><br> কেন আপনি <b>Cheradip</b> এর সাথে যুক্ত হবেন???</h1>
</div> -->
<app-ntrca-footer-section
  [firstAlertMessage]="'Select Subject Code to Search!'"
  [(newToken)]="newToken"
  (applyTokenClick)="applyToken()"
  [remainingUnlocks]="trxRemaining"
  [showNoDataAlert]="showNoDataAlert"
  [showNoDataAlert2]="showNoDataAlert2"
  [showNoDataAlert3]="showNoDataAlert3"
  [showNoDataAlert4]="showNoDataAlert4"
  [showNoDataAlert5]="showNoDataAlert5"
  [showNoDataAlert6]="showNoDataAlert6"
  [showNoDataAlert7]="showNoDataAlert7"
  [showNoDataAlert8]="showNoDataAlert8"
  [showNoDataAlert9]="showNoDataAlert9"
  [showNoDataAlert10]="showNoDataAlert10"
  [showNoDataAlert11]="showNoDataAlert11"
  [loading]="loading"
  [isGeneratingPdf]="isGeneratingPdf"
  [isGeneratingPdf2]="isGeneratingPdf2"
></app-ntrca-footer-section>