<div class="tokenbox">
  <div class="token-input-box">
    <br>
    <div class="hover-message-container">
      <input type="text" [(ngModel)]="newToken" placeholder="Enter 8-digit token" maxlength="8" />
      <button (click)="applyToken()">Apply Token</button>
      <p style="margin-top: 7px;">Remaining unlocks: <b>{{ (freeUnlockLimit || 0) - unlockedEIINs.size
          }}</b></p>
      <div class="hover-message-box" style="text-align: left;">
        1. Follow me at <a href="https://facebook.com/p.cheradip" target="_blank">facebook.com/p.cheradip</a><br>
        2. Send Money to <strong>01722710298</strong> (Personal) Tk 200<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using <strong>bKash / Nagad</strong> to Unlock &nbsp;<strong>1000</strong>&nbsp;
        Institutes.<br>
        3. WhatsApp / Message me the <strong>TrxID</strong> for Token and,<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;then Place the <strong>Token</strong> & Click on <strong>Apply Token</strong>
        Button!
      </div>
    </div>
  </div>
</div>
<div class="mainmsg" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
  <h1 class="msg"> শিক্ষক নিয়োগের বিস্তারিত তথ্যভিত্তিক অ্যানালাইসিস<br></h1>
</div>
<div class="mainmsg" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
  <h2 style="text-align: center; margin-top: 30px; margin-bottom: 10px; color: teal;"><b>
      ৭ম গণবিজ্ঞপ্তি<p class="br br1"></p> <a style="text-decoration: none;" [routerLink]="['/vacant7']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;শূন্যপদ</a>
      <a style="text-decoration: none;" [routerLink]="['/merit7']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;আবেদনযোগ্য প্রার্থী</a>
      <a style="text-decoration: none;" [routerLink]="['/recommend7']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;সুপারিশ</a>
      <br>৬ষ্ঠ গণবিজ্ঞপ্তি<p class="br"></p> <a style="text-decoration: none;" [routerLink]="['/vacant6']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;শূন্যপদ</a>
      <a style="text-decoration: none;" [routerLink]="['/merit6']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;আবেদনযোগ্য প্রার্থী</a>
      <a style="text-decoration: none;" [routerLink]="['/recommend6']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;সুপারিশ</a>
      <br>৫ম গণবিজ্ঞপ্তি<p class="br"></p> <a style="text-decoration: none;" [routerLink]="['/vacant5']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;শূন্যপদ</a>
      <a style="text-decoration: none;" [routerLink]="['/merit5']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;আবেদনযোগ্য প্রার্থী</a>
      <a style="text-decoration: none;" [routerLink]="['/recommend5']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;সুপারিশ</a></b></h2>
</div>
<div class="container2">
  <!-- Diagonal Watermark -->
  <h1 class="diagonal-watermark">cheradip.com</h1>
  <h1 class="diagonal-watermark fb-watermark">fb: p.cheradip</h1>

  <!-- Your other content (form, table, etc.) -->
  <form class="selection" (ngSubmit)="onSubmit()">

    <div class="form-group selection">
      <label class="selection" style="width: 190px" for="designation">Subject Code :&nbsp;&nbsp;</label>
      <select id="designation" [(ngModel)]="selectedDesignation" name="designation" class="form-control">
        <option style="text-align: center;" value="" disabled selected hidden>Click to Select your Subject Code</option>
        <option *ngFor="let designation of designations" [value]="designation">{{ designation }}</option>
      </select>
    </div>
    <br>
    <button type="submit" class="newButton btn btn-primary"><span class="fa fa-search"></span>&nbsp;&nbsp;S e a r c h</button>
    <div *ngIf="loading" class="loading-indicator2">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
  </form>

  <div *ngIf="vacancies.length > 0" class="mt-3">
    <p style="
      margin-bottom: 10px;
      margin-left: 20px;
      background: rgba(0, 128, 128, 0.25);
      width: 480px;
      position: absolute;
      text-align: center;
      padding: 6px 0 3px 0;
      border-radius: 25px;
      border: 1px dotted orange;
      z-index: 1;
      color: darkred;" [innerHTML]="recordRange"></p>
  </div>

  <div class="table-scroll" #scrollContainer (mousedown)="startScroll($event)" (mouseup)="stopScroll()"
    (mouseleave)="stopScroll()" (mousemove)="onScroll($event)">
    <table class="table mt-4 mytable" *ngIf="vacancies.length > 0">
      <thead>
        <tr>
          <th>SL</th>
          <th>Batch</th>
          <th>Code</th>
          <th>Roll</th>
          <th>Name</th>
          <th>Mark</th>
          <th>Rank</th>
          <th>Serial</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacancy of vacancies; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ vacancy.Batch }}</td>
          <td>{{ vacancy.Code }}</td>
          <td>{{ vacancy.Roll }}</td>
          <td class="wrap-text">{{ vacancy.Name }}</td>
          <td>{{ vacancy.Mark }}</td>
          <td>{{ vacancy.Rank }}</td>
          <td>{{ vacancy.SL }}</td>
          <td>{{ vacancy.Subject }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination Buttons -->
  <div class="pagination mt-4" *ngIf="totalPages > 1">
    <button class="newButton2 btn btn-secondary" (click)="previousPage()"
      [disabled]="currentPage === 1">Previous</button>
    <span class="mx-3">Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="newButton2 newButton3 btn btn-secondary" (click)="nextPage()"
      [disabled]="currentPage === totalPages">Next</button>
  </div>

  <app-ntrca-footer-section
    [firstAlertMessage]="'Select Subject Code to Search!'"
    [(newToken)]="newToken"
    (applyTokenClick)="applyToken()"
    [remainingUnlocks]="(freeUnlockLimit || 0) - unlockedEIINs.size"
    [showNoDataAlert]="showNoDataAlert"
    [showNoDataAlert2]="showNoDataAlert2"
    [showNoDataAlert3]="showNoDataAlert3"
    [showNoDataAlert4]="showNoDataAlert4"
    [showNoDataAlert5]="showNoDataAlert5"
    [showNoDataAlert6]="showNoDataAlert6"
    [showNoDataAlert7]="showNoDataAlert7"
    [showNoDataAlert8]="showNoDataAlert8"
    [showNoDataAlert9]="showNoDataAlert9"
    [showNoDataAlert10]="showNoDataAlert10"
    [showNoDataAlert11]="showNoDataAlert11"
    [loading]="loading"
    [isGeneratingPdf]="isGeneratingPdf"
    [isGeneratingPdf2]="isGeneratingPdf2"
  ></app-ntrca-footer-section>