/* Import shared styles */
@import '../../../shared/styles/header.shared.css';
@import '../../../shared/styles/student.shared.css';

/* Student component-specific styles */
.student-container {
  /* padding-top: 62px;
  margin: 50px auto; */
  padding-top: 97px;
  margin: 15px auto;
}



