<div class="mainmsg" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
  <h1 class="msg">Now we are working at class <b>11-12</b>, <b>HSC</b> and <b>University Admission</b> only!</h1>
</div>
<ul class="item-list">
  <li>
    <div class="image-container">
      <h3 class="title">Packages for Students</h3><br>
      <table class="package"><br>
        <tr class="tblhead"><th class="tblth" rowspan="2">Name</th><th class="tblth" rowspan="2">Dur.</th><th class="tblth" colspan="3">Package Price at TK</th></tr>
        <tr class="tblhead"><th class="tblth">Aca.</th><th class="tblth">Adm.</th><th class="tblth">Com.</th></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Free</td><td class="tbltd">1 M</td><td class="tbltd">0.00<sub><del>150</del></sub></td><td class="tbltd">0.00<sub><del>150</del></sub></td><td class="tbltd">0.00<sub><del>225</del></sub></td></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Starter</td><td class="tbltd">1 M</td><td class="tbltd">150<sub><del>150</del></sub></td><td class="tbltd">150<sub><del>150</del></sub></td><td class="tbltd">225<sub><del>300</del></sub></td></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Basic</td><td class="tbltd">3 M</td><td class="tbltd">360<sub><del>450</del></sub></td><td class="tbltd">360<sub><del>450</del></sub></td><td class="tbltd">540<sub><del>900</del></sub></td></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Int.</td><td class="tbltd">6 M</td><td class="tbltd">630<sub><del>900</del></sub></td><td class="tbltd">630<sub><del>900</del></sub></td><td class="tbltd">945<sub><del>1800</del></sub></td></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Adv. 0</td><td class="tbltd">12 M</td><td class="tbltd">1080<sub><del>1800</del></sub></td><td class="tbltd">1080<sub><del>1800</del></sub></td><td class="tbltd">1620<sub><del>3600</del></sub></td></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Adv. 1</td><td class="tbltd">18 M</td><td class="tbltd">1440<sub><del>2700</del></sub></td><td class="tbltd">1440<sub><del>2700</del></sub></td><td class="tbltd">2160<sub><del>5400</del></sub></td></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Adv. 2</td><td class="tbltd">24 M</td><td class="tbltd">1680<sub><del>3600</del></sub></td><td class="tbltd">1680<sub><del>3600</del></sub></td><td class="tbltd">2520<sub><del>7200</del></sub></td></tr>
        <tr class="gap"><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="tbltd">Adv. 3</td><td class="tbltd">36 M</td><td class="tbltd">2160<sub><del>5400</del></sub></td><td class="tbltd">2160<sub><del>5400</del></sub></td><td class="tbltd">3240<sub><del>10800</del></sub></td></tr>
      </table>
      <p class="price">Make Money by Refering your Friends!</p>
      <p class="footer">
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-shopping-cart"></i>Buy
        </a>
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-share"></i>Refer
        </a>
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-copy"></i>Get Referrel Link
        </a>
      </p>
    </div>
  </li>
  <li>
    <div class="image-container">
      <h3 class="title">User Badges for Teachers</h3><br>
      <table class="package" style="margin-top: 5px;"><br>
      <tr class="tblhead"><th class="tblth">Base</th><th class="tblth">Badge</th><th class="tblth">CQ<br>(TK)</th><th class="tblth">MCQ<br>(TK)</th><th class="tblth">Disc.<br>(%)</th><th class="tblth">RV<br>(%)</th></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">New</td><td class="tbltd">Star</td><td class="tbltd">1.50</td><td class="tbltd">0.25</td><td class="tbltd">NA</td><td class="tbltd">20</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">Premium</td><td class="tbltd">Silver</td><td class="tbltd">1.50</td><td class="tbltd">0.25</td><td class="tbltd">NA</td><td class="tbltd">25</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">Q  > &nbsp;99</td><td class="tbltd">Gold</td><td class="tbltd">1.40</td><td class="tbltd">0.23</td><td class="tbltd">10</td><td class="tbltd">30</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">Q > 199</td><td class="tbltd">Gold+</td><td class="tbltd">1.30</td><td class="tbltd">0.21</td><td class="tbltd">20</td><td class="tbltd">35</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">Q > 299</td><td class="tbltd">Platinum</td><td class="tbltd">1.20</td><td class="tbltd">0.19</td><td class="tbltd">30</td><td class="tbltd">40</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">Q > 399</td><td class="tbltd">Platinum+</td><td class="tbltd">1.10</td><td class="tbltd">0.17</td><td class="tbltd">40</td><td class="tbltd">45</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">Q > 499</td><td class="tbltd">Titanium</td><td class="tbltd">1.00</td><td class="tbltd">0.15</td><td class="tbltd">50</td><td class="tbltd">50</td></tr>
      </table>
      <p class="price" style="padding: 10px;">Get New Badges & Make Money by Refering<br>Your Friends, Collegues and Students!</p>
      <p class="footer">
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-plus"></i>Add Money
        </a>
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-share"></i>Refer
        </a>
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-copy"></i>Get Referrel Link
        </a>
      </p>
    </div>
  </li>
  <li>
    <div class="image-container">
      <h3 class="title">User Badges for Students</h3><br>
      <table class="package" style="margin-top: 5px;"><br>
      <tr class="tblhead"><th class="tblth">Base</th><th class="tblth">Badge</th><th class="tblth">PR<br>(%)</th><th class="tblth">Disc.<br>(%)</th><th class="tblth">RV<br>(%)</th></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">New</td><td class="tbltd">Star</td><td class="tbltd">NA</td><td class="tbltd">NA</td><td class="tbltd">20</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">Premium</td><td class="tbltd">Silver</td><td class="tbltd">NA</td><td class="tbltd">NA</td><td class="tbltd">25</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">E  > &nbsp;99</td><td class="tbltd">Gold</td><td class="tbltd">50</td><td class="tbltd">10</td><td class="tbltd">25</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">E > 199</td><td class="tbltd">Gold+</td><td class="tbltd">65</td><td class="tbltd">20</td><td class="tbltd">25</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">E > 299</td><td class="tbltd">Platinum</td><td class="tbltd">80</td><td class="tbltd">30</td><td class="tbltd">30</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">E > 399</td><td class="tbltd">Platinum+</td><td class="tbltd">90</td><td class="tbltd">40</td><td class="tbltd">30</td></tr>
      <tr class="gap"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td class="tbltd">E > 499</td><td class="tbltd">Titanium</td><td class="tbltd">95</td><td class="tbltd">50</td><td class="tbltd">30</td></tr>
      </table>
      <p class="price" style="padding: 10px;">Get New Badges & Make Money<br>By Refering Your Friends!</p>
      <p class="footer">
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-book"></i>Give Exam
        </a>
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-share"></i>Refer
        </a>
        <a [routerLink]="['/order']" routerLinkActive="order"  class="item_footer">
          <i class="fa fa-copy"></i>Get Referrel Link
        </a>
      </p>
    </div>
  </li>
</ul>
<div class="comment">
  <p style="color: darkred;">>>> To hold Badges, Teachers have to create at least 50 Questions and<br>Students have to attend at least 50 Exams at last last 3 Months!</p>
  <p style="color: darkgreen;">>>> Using your <b>Cheradip Wallet</b> you can<br> &nbsp; &nbsp; &nbsp; get Payment at Nagad/BKash/DBBL/Sonali Bank and<br> &nbsp; &nbsp; &nbsp; Gift Packages to Others!</p>
  <Table class="abbreviation">
    <tr class="tblhead2"><th class="tblth2"><u>Abbreviation</u></th><th class="tblth2">----------</th><th class="tblth2"><u>Full Form</u></th></tr>
    <tr class="tblhead2"><td class="tbltd2">TK</td><td class="tbltd2">----------</td><td class="tbltd2">Taka</td></tr>
    <tr class="tblhead2"><td class="tbltd2">Dur.</td><td class="tbltd2">----------</td><td class="tbltd2">Duration</td></tr>
    <tr class="tblhead2"><td class="tbltd2">Aca.</td><td class="tbltd2">----------</td><td class="tbltd2">Academic</td></tr>
    <tr class="tblhead2"><td class="tbltd2">Adm.</td><td class="tbltd2">----------</td><td class="tbltd2">Admission</td></tr>
    <tr class="tblhead2"><td class="tbltd2">Com.</td><td class="tbltd2">----------</td><td class="tbltd2">Combined</td></tr>
    <tr class="tblhead2"><td class="tbltd2">Q</td><td class="tbltd2">----------</td><td class="tbltd2">Questions Created</td></tr>
    <tr class="tblhead2"><td class="tbltd2">E</td><td class="tbltd2">----------</td><td class="tbltd2">Exams Attended</td></tr>
    <tr class="tblhead2"><td class="tbltd2">Disc.</td><td class="tbltd2">----------</td><td class="tbltd2">Discount</td></tr>
    <tr class="tblhead2"><td class="tbltd2">RV</td><td class="tbltd2">----------</td><td class="tbltd2">Reference Value</td></tr>
    <tr class="tblhead2"><td class="tbltd2">PR</td><td class="tbltd2">----------</td><td class="tbltd2">Passing Rate</td></tr>
  </Table>
</div>
<div class="gap" style="height: 100px;"></div>