<div class="tokenbox">
  <div class="token-input-box">
    <br>
    <div class="hover-message-container">
      <input type="text" [(ngModel)]="newToken" placeholder="Enter 8-digit token" maxlength="8" />
      <button (click)="applyToken()">Apply Token</button>
      <p style="margin-top: 7px;">Remaining unlocks: <b>{{ (freeUnlockLimit || 0) - unlockedEIINs.size
          }}</b></p>
      <div class="hover-message-box" style="text-align: left;">
        1. Follow me at <a href="https://facebook.com/p.cheradip" target="_blank">facebook.com/p.cheradip</a><br>
        2. Send Money to <strong>01722710298</strong> (Personal) Tk 200<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using <strong>bKash / Nagad</strong> to Unlock &nbsp;<strong>1000</strong>&nbsp;
        Institutes.<br>
        3. WhatsApp / Message me the <strong>TrxID</strong> for Token and,<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;then Place the <strong>Token</strong> & Click on <strong>Apply Token</strong>
        Button!
      </div>
    </div>
  </div>
</div>
<div class="mainmsg" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
  <h1 class="msg"> শিক্ষক নিয়োগের বিস্তারিত তথ্যভিত্তিক অ্যানালাইসিস<br></h1>
</div>
<div class="mainmsg" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
  <h2 style="text-align: center; margin-top: 30px; margin-bottom: 10px; color: teal;"><b>
      ৭ম গণবিজ্ঞপ্তি<p class="br br1"></p> <a style="text-decoration: none;" [routerLink]="['/vacant7']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;শূন্যপদ</a>
      <a style="text-decoration: none;" [routerLink]="['/merit7']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;আবেদনযোগ্য প্রার্থী</a>
      <a style="text-decoration: none;" [routerLink]="['/recommend7']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;সুপারিশ</a>
      <br>৬ষ্ঠ গণবিজ্ঞপ্তি<p class="br"></p> <a style="text-decoration: none;" [routerLink]="['/vacant6']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;শূন্যপদ</a>
      <a style="text-decoration: none;" [routerLink]="['/merit6']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;আবেদনযোগ্য প্রার্থী</a>
      <a style="text-decoration: none;" [routerLink]="['/recommend6']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;সুপারিশ</a>
      <br>৫ম গণবিজ্ঞপ্তি<p class="br"></p> <a style="text-decoration: none;" [routerLink]="['/vacant5']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;শূন্যপদ</a>
      <a style="text-decoration: none;" [routerLink]="['/merit5']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;আবেদনযোগ্য প্রার্থী</a>
      <a style="text-decoration: none;" [routerLink]="['/recommend5']" routerLinkActive="active-link"
        style="text-decoration: none;">&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;সুপারিশ</a></b></h2>
</div>
<div class="container2">
  <!-- Diagonal Watermark -->
  <h1 class="diagonal-watermark">cheradip.com</h1>
  <h1 class="diagonal-watermark fb-watermark">fb: p.cheradip</h1>

  <!-- Your other content (form, table, etc.) -->
  <form class="selection" (ngSubmit)="onSubmit()">

    <div class="form-group selection">
      <label class="selection" style="width: 190px" for="designation">Designation :&nbsp;&nbsp;</label>
      <select id="designation" [(ngModel)]="selectedDesignation" name="designation" class="form-control"
        (change)="onDesignationChange()">
        <option style="text-align: center;" value="" disabled selected hidden>Click to Select your Designation</option>
        <option *ngFor="let designation of designations" [value]="designation">{{ designation }}</option>
      </select>
    </div>

    <div class="form-group selection">
      <label class="selection" style="width: 90px" for="subject">Post :&nbsp;&nbsp;</label>
      <select id="subject" [(ngModel)]="selectedSubject" name="subject" class="form-control">
        <option style="text-align: center;" value="" disabled selected hidden>Click to Select your Subject</option>
        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
      </select>
    </div>
    <br>
    <button type="button" class="check"
      style="margin-bottom: -20px; background-color: orange; color: blue; font-size: 18px; padding: 7px 12px; border-radius: 20px;"
      (click)="toggleAllDistricts()">
      Check/Uncheck All Districts
    </button>
    <div class="form-group"><br>
      <table class="district-table">
        <tr *ngFor="let row of tableRows">
          <td *ngFor="let district of row"> <input type="checkbox" [checked]="selectedDistricts!.includes(district)"
              (change)="onDistrictSelectionChange(district, $event)" /> {{ district }} </td>
        </tr>
      </table>
    </div>
    <br>
    <button type="submit" class="newButton btn btn-primary"><span class="fa fa-search"></span>&nbsp;&nbsp;S e a r c
      h</button>
  </form>

  <div *ngIf="vacancies.length > 0" class="mt-3">
    <p style="background: rgba(0, 128, 128, 0.25);
      width: 400px;
      position: absolute;
      text-align: center;
      padding: 6px 0 4px 0;
      border-radius: 25px;
      border: 1px dotted orange;
      z-index: 1;
      color: darkred;" [innerHTML]="recordRange"></p> <!-- Displaying record range with bold text -->
  </div>

  <!-- Results Table -->
  <div class="table-scroll" #scrollContainer (mousedown)="startScroll($event)" (mouseup)="stopScroll()"
    (mouseleave)="stopScroll()" (mousemove)="onScroll($event)">
    <table class="table mt-4 mytable" *ngIf="vacancies.length > 0">
      <thead>
        <tr>
          <th>All<br>
            <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)" />
          </th>
          <th>SL</th>
          <th>EIIN<br>Institute Name</th>
          <th>District - Thana/Upz - Union<br>Mouza - Ward No</th>
          <th>Designation<br>Post</th>
          <th>Type<br>Vacancy</th>
          <th>Unlock<br>All<br>Info.</th>
          <th>Education Levels</th>
          <th>MPO Levels</th>
          <th>Teachers Contact</th>
          <th>SSC Depts</th>
          <th>HSC Depts</th>
          <th>Pre. 3Years Students<br>2023 - 2022 - 2021</th>
          <th>Total Students<br>2024</th>
          <th>Classwise Students<br>2024</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacancy of vacancies; let i = index">
          <td>
            <input type="checkbox" [checked]="selectedEIINs.has(vacancy.EIIN)"
              (change)="toggleSelection(vacancy.EIIN, $event)" />
          </td>

          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ vacancy.EIIN }}<br>{{ vacancy.Name }}</td>

          <td>{{ vacancy.District }} - {{ vacancy.Thana }} - {{ vacancy.parameter?.results?.[0]?.Rejion || 'N/A' }}<br>
            {{ vacancy.parameter?.results?.[0]?.Mouza ||
            'N/A' }} - Ward No. {{ vacancy.parameter?.results?.[0]?.WardNo || 'N/A' }}</td>
          <td>{{ vacancy.Designation }}<br>{{ vacancy.Subject }}</td>
          <td>{{ vacancy.Type }} - {{ vacancy.Vacancy }}</td>
          <td style="text-align: center;">
            <ng-container *ngIf="isEIINUnlocked(vacancy.EIIN)">
              ✅<br>Unlocked
            </ng-container>

            <ng-container *ngIf="!isEIINUnlocked(vacancy.EIIN)">
              <button *ngIf="!eiinLoading.has(vacancy.EIIN)" (click)="unlockEIIN(vacancy.EIIN)">
                🔓<br>Unlock
              </button>
              <div *ngIf="eiinLoading.has(vacancy.EIIN)">
                <span class="spinner"></span>
                <br>Loading...
              </div>
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="vacancy.parameter?.results?.[0]?.EducationLevels; else noMpo">
              <div *ngFor="let mpo of vacancy.parameter.results[0].EducationLevels.split(',')">
                {{ mpo.trim() }}
              </div>
            </ng-container>
            <ng-template #noMpo>N/A</ng-template>
          </td>
          <td>
            <ng-container *ngIf="vacancy.parameter?.results?.[0]?.MPO; else noMpo">
              <div *ngFor="let mpo of vacancy.parameter.results[0].MPO.split(',')">
                {{ mpo.trim() }}
              </div>
            </ng-container>
            <ng-template #noMpo>N/A</ng-template>
          </td>
          <td>
            <ng-container *ngIf="vacancy.parameter?.results?.[0]?.Contact as contactString; else noMpo">
              <!-- Show contacts based on expanded state -->
              <div
                *ngFor="let mpo of (expandedRows2[vacancy.EIIN] ? contactString.split(',') : contactString.split(',').slice(0, 2))">
                {{ mpo.trim() }}
              </div>
              <div *ngIf="contactString.split(',').length > 2">
                <button (click)="toggleExpand2(vacancy.EIIN)">
                  {{ expandedRows2[vacancy.EIIN] ? 'View Less' : 'View All' }}
                </button>
              </div>
            </ng-container>
            <ng-template #noMpo>N/A</ng-template>
          </td>

          <td>
            <ng-container *ngIf="vacancy.parameter?.results?.[0]?.SSCDepts; else noMpo">
              <div *ngFor="let mpo of vacancy.parameter.results[0].SSCDepts.split(',')">
                {{ mpo.trim() }}
              </div>
            </ng-container>
            <ng-template #noMpo>N/A</ng-template>
          </td>
          <td>
            <ng-container *ngIf="vacancy.parameter?.results?.[0]?.HSCDepts; else noMpo">
              <div *ngFor="let mpo of vacancy.parameter.results[0].HSCDepts.split(',')">
                {{ mpo.trim() }}
              </div>
            </ng-container>
            <ng-template #noMpo>N/A</ng-template>
          </td>
          <td>
            <table class="inner-table" *ngIf="vacancy.parameter?.results?.[0]?.PreStats">
              <tr *ngFor="let row of vacancy.parameter.results[0].PreStats.split(';')">
                <td *ngFor="let val of row.split(',')">
                  {{ val === 'কোনোটিই নয়' ? '' : val.trim() }}
                </td>
              </tr>
            </table>
          </td>

          <td>
            <table class="inner-table" *ngIf="vacancy.parameter?.results?.[0]?.Record">
              <tr *ngFor="let rec of parseJSON(vacancy.parameter.results[0].Record)">
                <td *ngFor="let val of rec">{{ val === 'কোনোটিই নয়' ? '' : val }}</td>
              </tr>
            </table>
          </td>
          <td>
            <table class="inner-table" *ngIf="vacancy.parameter?.results?.[0]?.Record2">
              <tr *ngFor="let rec of getVisibleRows(vacancy); let i = index">
                <td *ngFor="let val of rec">
                  {{ val === 'কোনোটিই নয়' ? '' : val }}
                </td>
              </tr>
            </table>

            <div *ngIf="(parseJSON(vacancy.parameter?.results?.[0]?.Record2)?.length ?? 0) > 2">
              <button (click)="toggleExpand(vacancy.EIIN)">
                {{ expandedRows[vacancy.EIIN] ? 'View Less' : 'View All' }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-container" style="text-align: center; align-items: center; display: block;">
      <button class="printBtn" (click)="printSelected()">🖨️ Print Selected ({{ selectedEIINs.size }})</button><br><br>
      <button class="printBtn" (click)="downloadAsPdf()">Download PDF ({{ selectedEIINs.size }})</button>
    </div>

  </div>
  <!-- Pagination Buttons -->
  <div class="pagination mt-4" *ngIf="totalPages > 1">
    <button class="newButton2 btn btn-secondary" (click)="previousPage()"
      [disabled]="currentPage === 1">Previous</button>
    <span class="mx-3">Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="newButton2 newButton3 btn btn-secondary" (click)="nextPage()"
      [disabled]="currentPage === totalPages">Next</button>
  </div>

  <div class="tokenbox">
    <div class="token-input-box2">
      <br>
      <div class="hover-message-container">
        <input type="text" [(ngModel)]="newToken" placeholder="Enter 8-digit token" maxlength="8" />
        <button (click)="applyToken()">Apply Token</button>
        <p style="margin-top: 7px;">Remaining unlocks: <b>{{ (freeUnlockLimit || 0) - unlockedEIINs.size
            }}</b></p>
        <div class="hover-message-box" style="text-align: left;">
          1. Follow me at <a href="https://facebook.com/p.cheradip" target="_blank">facebook.com/p.cheradip</a><br>
          2. Send Money to <strong>01722710298</strong> (Personal) Tk 200<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using <strong>bKash / Nagad</strong> to Unlock &nbsp;<strong>1000</strong>&nbsp;
          Institutes.<br>
          3. WhatsApp / Message me the <strong>TrxID</strong> for Token and,<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;then Place the <strong>Token</strong> & Click on <strong>Apply Token</strong>
          Button!
        </div>
      </div>
    </div>
  </div>

  <!-- <h1 style="text-align: center; margin-top: 20px; margin-bottom: -20px; color: orangered;"><b>শূন্যপদ দেখতে সমস্যা হলে
      নিচের ভিডিও দেখুন!</b></h1>
  <div *ngFor="let link of youtube" class="video-container">
    <iframe [src]="link | safeUrl" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div> -->

<div class="container">
  <main>
    <section class="why-choose">
      <ul>
        <li>
          <strong>📘 NTRCA-এর নিয়োগ পরীক্ষার <b>আইসিটি</b> বিষয়ের লিখিত অংশের প্রস্তুতি নেয়া শিক্ষকদের উদ্দেশ্যে কিছু
            কথা-</strong><br>
          আমি নিজে নিবন্ধন পরীক্ষার সময় আইসিটির জন্য বাজারে ভালো কোন বই পাইনি। তাই, Cloud IT এবং Dream IT বই দুটি থেকে
          নিজে NTRCA এর সিলেবাসের সাথে টপিক মিলিয়ে পড়ে নিয়েছিলাম। বাংলা ভার্ষণের যে সকল বই বাজারে
          পাওয়া যায় তার মান(অনুবাদের ভাষা) আমার কাছে পছন্দ হয় নি। এখনো বাজারে যেসব বই পাওয়া যায় তার অবস্থা অনেকটা আগের
          মতই। তাই, আমি নিজ অভিজ্ঞতার আলোকে ইংরেজী এবং বাংলা
          উভয় ভার্ষণে একটি বই লিখার কাজ শুরু করি। খসড়া লিখা হয়ে গেছে, এখন ভূল সংশোধন এবং ভাষাগত পরিমার্জন চলছে। আশা
          করছি, আগামী জুন ২০২৫ এর মধ্যে রিভিউ এর কাজ শেষ করতে পারব।
          <a href="https://www.upwork.com/freelancers/~012245d9d01e40d49e" target="_blank"> Graphics Design এবং
            Programming Based Freelancing</a> এর অভিজ্ঞতা ব্যবহার করে বইটি নিজে ডিজাইন করেছি
          এবং সমস্ত কোড(C, Java, C++, SQL) রান করে দেখে আউটপুট সহ দিয়েছি এবং প্রতিটি প্রোগ্রাম যথাযথ ফরমেটে উপস্থাপন
          করেছি।<br><br>একই সাথে বইটির অনলাইন ভার্সণ রেখেছি যেখানে Algorith, Data Structure,
          Software Development, ER Diagram, Digital Logic Design এর মত টপিকগুলোর অ্যানিমেশন দেয়া আছে যাতে করে সবাই সহজেই
          বিষয়টি অনুধাবন করতে পারে। আশা করছি, ডিপ্লোমা করা স্টুডেন্ট হতে ইউনিভার্সিটি
          গ্রাজুয়েট সকলের কাছে ট্রেড ইন্সট্রাক্টর, সহকারি শিক্ষক, প্রদর্শক, ও প্রভাষক ICT পদে NTRCA-এর নিয়োগ পরীক্ষার
          লিখিত অংশের জন্য এই বইটি Perfect বলে মনে হবে। এখানে প্রতিটি টপিক কভার করা হয়ছে নিয়োগ
          পরীক্ষার সিলেবাস ও প্রশ্নের ধরণ অনুসারে।<br><br>
          আগ্রহী নিয়োগ প্রত্যাশীদের নিয়ে ব্যাচ ওপেন করছি যেখানে লাইভ ক্লাসের পাশাপাশি ভিডিও কন্টেন্ট এর মাধ্যমে
          বিষয়গুলোকে সাধ্যানুযায়ী সহজভাবে উপস্থাপনের চেস্টা করছি।
        </li>
        <section class="cta">
          <h2>🌟 Cheradip এর প্রশিক্ষকের পরিচিতি 🌟</h2>
          <ol>
            <li>
              <h2>Md. Shafikul Islam</h2><br>B.Sc in ECE from HSTU, Dinajpur
            </li>
            <li>Ex. Trainer of She Power Project</li>
            <li>Ex. Lecturer (ICT), Hatimara College, Gazipur</li>
            <li><b>Lecturer (ICT), KBM College</b> Dinajpur</li>
            <li><b>Part-time Freelancer</b> (<a href="https://www.upwork.com/freelancers/~012245d9d01e40d49e"
                target="_blank">Upwork</a>) and</li>
            <li>Trained on Web Development (LICT).</li>
            <li>🥇&nbsp;&nbsp;Merit Position: 16<sup>th</sup> NTRCA - <b>18</b><sup>th</sup> (Current:
              94<sup>th</sup>)&nbsp;&nbsp;&nbsp; &&nbsp;&nbsp;&nbsp; 15<sup>th</sup> NTRCA - <b>14</b><sup>th</sup>
              (Current: 194<sup>th</sup>)</li>
          </ol>
        </section>
        <li>
          <strong>🎯 বিশেষায়িত কোর্স কাঠামো — একেবারে টার্গেটেড প্রস্তুতি</strong><br>
          Cheradip-এর ICT কোর্সটি বিশেষভাবে তৈরি করা হয়েছে ট্রেড ইন্সট্রাক্টর, সহকারি শিক্ষক, প্রদর্শক, ও প্রভাষক পদে
          NTRCA-এর নিয়োগ পরীক্ষার লিখিত অংশকে টার্গেট করে। এখানে প্রতিটি টপিক কভার করা হয় নিয়োগ পরীক্ষার সিলেবাস ও
          প্রশ্নের ধরণ অনুসারে।
        </li>
        <li>
          <strong>📘 সুনির্দিষ্ট এবং বাস্তবভিত্তিক কনটেন্ট</strong><br>
          সঠিক সিলেবাস অনুসরণে সাজানো লেকচার<br>
          বিগত পরিক্ষার প্রশ্ন বিশ্লেষণ ও ব্যাখ্যা সহ সলিউশন<br>
          ব্যবহারিক ও সফটওয়্যার ভিত্তিক প্রশ্নের বিশ্লেষণ
        </li>
        <li>
          <strong>👨‍🏫 দক্ষ ও অভিজ্ঞ প্রশিক্ষক</strong><br>
          Cheradip-এর আইসিটি বিষয়ের প্রশিক্ষক হিসেবে আমার আছে, কলেজ পর্যায়ে ২টি সনদ অর্জনের অভিজ্ঞতা, প্রভাষক(তথ্য ও
          যোগাযোগ প্রযুক্তি) পদে প্রায় ৭ বছরের শিক্ষতার অভিজ্ঞতা, ICT বিষয়ের উপর বাস্তবিক জ্ঞান যা ব্যবহার করে Trainer
          হিসেবে কাজ করেছি এবং বর্তমানে <a href="https://www.upwork.com/freelancers/~012245d9d01e40d49e"
            target="_blank">Freelancing</a> করছি।

        </li>
        <li>
          <strong>📊 সহজে বোঝার মতো ডিজিটাল লার্নিং প্ল্যাটফর্ম</strong><br>
          প্রতিটি ক্লাস থাকবে ভিডিও আকারে<br>
          Slide + Notes + Practice File একসাথে<br>
          Progress Tracking, যাতে আপনি জানেন আপনার অবস্থান কোথায়<br>
          মোবাইল/ল্যাপটপে ২৪/৭ এক্সেস এবং সাধ্যমত অনলাইন সাপোর্ট।
        </li>
        <li>
          <strong>🧠 মডেল টেস্ট + রিভিশন প্ল্যান</strong><br>
          প্রতিটি অধ্যায়ের শেষে মডেল টেস্ট<br>
          পূর্ণাঙ্গ Written Mock Test<br>
          পূর্ববর্তী বছরগুলোর প্রশ্নের উপর ভিত্তি করে বিশ্লেষণ ও ব্যাখ্যা<br>
          প্রতিটি ভুলের জন্য সঠিক ব্যাখ্যা সহ Feedback
        </li>
        <li>
          <strong>🎓 সাফল্যের বাস্তব প্রমাণ</strong><br>
          আপনি হতে পারেন, বাস্তব প্রমাণের প্রথম উদাহরণ। আমি দৃরভাবে বিশ্বাস করি, যথাযথ বুঝে গুছিয়ে পড়াশোনা করলে Cheradip
          থেকে কোর্স করে সফলভাবে নিয়োগপ্রাপ্তদের তালিকায় আপনার নাম অবশ্যই যুক্ত করতে পারবেন ইনশাল্লাহ।
        </li>
        <li>
          <strong>🔒 একবার ভর্তি = নিরবচ্ছিন্ন সাপোর্ট</strong><br>
          যতদিন না আপনি সফল হন, ততদিন আমি সুস্থ থাকলে পাশে থাকবো ইনশাআল্লাহ<br>
          কোর্সের সাথে থাকবে নিয়মিত Live Q&A Session, এবং পরীক্ষার আপডেট
        </li>
      </ul>
    </section>

    <section class="cta">
      <h2>🌟 Cheradip এর ICT লিখিত কোর্স মানেই</h2>
      <p>🎯 ফোকাসড স্টাডি | 🧠 প্র্যাকটিকাল স্কিল | ✅ পরীক্ষাভিত্তিক প্রশ্ন | 💯 সফলতার নিশ্চয়তা</p>
      <a class="btn">📌 এখনই যুক্ত হন Cheradip ICT কোর্সে</a><br><br>
      <p><i class="fas fa-phone-alt"></i>&nbsp; /&nbsp; <i class="fab fa-whatsapp"></i>&nbsp;&nbsp; 01722 710298
        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-facebook-f"></i>&nbsp;&nbsp;<a href="https://facebook.com/p.cheradip"
          target="_blank">Cheradip</a> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-youtube"></i>&nbsp;&nbsp;<a
          href="https://youtube.com/@cheradip" target="_blank">Cheradip</a></p>
    </section>
  </main>
</div>

<app-alert [message]="'Select All Critera to Search!'" 
  [showAlert]="showNoDataAlert"></app-alert>
<app-alert [message]="'No Data found for the selected Criteria!'"
  [showAlert]="showNoDataAlert2"></app-alert>
<app-alert [message]="'You have to select Districts!!!'" 
  [showAlert]="showNoDataAlert3"></app-alert>
  <app-alert [message]="'You have used all Points! ১০০০ আনলকের জন্য, 01722710298 (Personal) নাম্বারে ২০০ টাকা Send Money (bKash/Nagad) 
    করে WhatsApp/Message এ TrxID অথবা স্ক্রিনশট পাঠান এবং রিপ্লাই-এ প্রাপ্ত Token উপরের ডানদিকের কোণায় অবস্থিত Token Box এ লিখে Apply Token বাটনে ক্লিক করুন!'"
  [showAlert]="showNoDataAlert4"></app-alert>
<app-alert [message]="'Invalid Token / Token Not Found! Please request a new one to unlock more Details!'"
  [showAlert]="showNoDataAlert5"></app-alert>
<app-alert [message]="'Failed to validate Token! Try again to unlock more Details!'"
  [showAlert]="showNoDataAlert6"></app-alert>
<app-alert [message]="'Enter a valid 8-digit token to unlock more Details!'"
  [showAlert]="showNoDataAlert7"></app-alert>
<app-alert [message]="'Token Successfully Activated, Now Click on Lock Icon to Unlock Informations!'"
  [showAlert]="showNoDataAlert8"></app-alert>
<app-alert [message]="'No rows selected for printing!'" 
  [showAlert]="showNoDataAlert9"></app-alert>
<app-alert [message]="'Pop-up blocked! Please allow pop-ups to print!'"
  [showAlert]="showNoDataAlert10"></app-alert>
<app-alert [message]="'Token Already Used! Request a new 8 Digit Token to unlock more Details!'"
  [showAlert]="showNoDataAlert11"></app-alert>
<div *ngIf="loading" class="loading-indicator">
  🔄 Please wait... loading data.
</div>


<div class="pdf-loading" *ngIf="isGeneratingPdf">
  <div class="spinner2"></div>
  <p>Generating PDF, please wait...</p>
</div>

<div class="pdf-loading" *ngIf="isGeneratingPdf2">
  <div class="spinner"></div>
  <p>Loading Unlocked Data, Please wait...</p>
</div>

<div class="gap" style="height: 100px;"></div>