<div class="tokenbox">
  <div class="token-input-box">
    <br>
    <div class="hover-message-container">
      <input type="text" [(ngModel)]="newToken" placeholder="8-Digit Token" maxlength="8" />
      <button (click)="applyToken()">Apply Token</button>
      <p style="margin-top: 7px;">Remaining unlocks: <b>{{ (freeUnlockLimit || 0) - unlockedEIINs.size
          }}</b></p>
      <div class="hover-message-box" style="text-align: left;">
        1. Follow me at <a href="https://facebook.com/p.cheradip" target="_blank">facebook.com/p.cheradip</a><br>
        2. Send Money to <strong>01722710298</strong> (Personal) Tk 200<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using <strong>bKash / Nagad</strong> to Unlock &nbsp;<strong>1000</strong>&nbsp;
        Institutes.<br>
        3. WhatsApp / Message me the <strong>TrxID</strong> for Token and,<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;then Place the <strong>Token</strong> & Click on <strong>Apply Token</strong>
        Button!
      </div>
    </div>
  </div>
</div>
<div class="mainmsg" style="text-align: center; margin-top: 20px;">
  <h1 class="msg">Find Details of any type of Institutes over the Country!</h1><br>

    <div class="filter">
      <div class="dropdownx mb-3">
        <button class="btn btn-outline-primary dropdown-toggle filter filter-btn" type="button" data-bs-toggle="dropdown">
          <span class="filter-label" *ngIf="selectedTypes.length === 0">Institute Types</span>
          <span class="filter-selections" *ngIf="selectedTypes.length > 0" [title]="selectedTypes.join(', ')">{{ selectedTypes.join(', ') }}</span>
        </button>
        <ul class="dropdown-menu scrollable-menu filterx" style="width: 248px;">
          <li class="dropdown-header">Select Institute Type</li>
          <li *ngFor="let type of types" class="filter">
            <label class="dropdown-item">
              <input type="checkbox" [checked]="selectedTypes.includes(type)"
                (change)="onTypeChange(type, $event)">
              {{ type }}
            </label>
          </li>

        </ul>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="dropdownx mb-3">
        <button class="btn btn-outline-primary dropdown-toggle filter filter-btn" type="button" data-bs-toggle="dropdown">
          <span class="filter-label" *ngIf="selectedDivisions.length === 0">Divisions</span>
          <span class="filter-selections" *ngIf="selectedDivisions.length > 0" [title]="selectedDivisions.join(', ')">{{ selectedDivisions.join(', ') }}</span>
        </button>
        <ul class="dropdown-menu scrollable-menu filterx">
          <li class="dropdown-header">Select Division</li>
          <li *ngFor="let division of divisions" class="filter">
            <label class="dropdown-item">
              <input type="checkbox" [checked]="selectedDivisions.includes(division)"
                (change)="onDivisionChange(division, $event)">
              {{ division }}
            </label>
          </li>

        </ul>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="dropdownx mb-3" *ngIf="districts.length > 0">
        <button class="btn btn-outline-success dropdown-toggle filter filter-btn" type="button" data-bs-toggle="dropdown">
          <span class="filter-label" *ngIf="selectedDistricts.length === 0">Districts</span>
          <span class="filter-selections" *ngIf="selectedDistricts.length > 0" [title]="selectedDistricts.join(', ')">{{ selectedDistricts.join(', ') }}</span>
        </button>
        <ul class="dropdown-menu scrollable-menu filterx">
          <li class="dropdown-header">Select District</li>
          <li *ngFor="let district of districts" class="filter">
            <label class="dropdown-item">
              <input type="checkbox" [checked]="selectedDistricts.includes(district)" (change)="onDistrictChange(district, $event)">
              {{ district }}
            </label>
          </li>

        </ul>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="dropdownx mb-3" *ngIf="thanas.length > 0">
        <button class="btn btn-outline-success dropdown-toggle filter filter-btn" type="button" data-bs-toggle="dropdown">
          <span class="filter-label" *ngIf="selectedThanas.length === 0">Thanas</span>
          <span class="filter-selections" *ngIf="selectedThanas.length > 0" [title]="selectedThanas.join(', ')">{{ selectedThanas.join(', ') }}</span>
        </button>
        <ul class="dropdown-menu scrollable-menu filterx">
          <li class="dropdown-header">Select Thana</li>
          <li *ngFor="let thana of thanas" class="filter">
            <label class="dropdown-item">
              <input type="checkbox" [checked]="selectedThanas.includes(thana)" (change)="onThanaChange(thana, $event)">
              {{ thana }}
            </label>
          </li>

        </ul>
      </div>

      <button class="btn btn-outline-danger filter" type="button" (click)="clearFilters()">
          <i class="fa fa-search" style="color: darkred;"></i><font color="darkred"> Clear</font>
        </button>

    </div>

  <div class="search-bar">
    <input type="text" placeholder="Type Institute Name or EIIN No." [(ngModel)]="searchTerm" (input)="onSearchInput($event)" (keyup)="onKeyUp($event)" />
    <i (click)="onSearch()" class="fa fa-search"></i>
  </div>

  <p *ngIf="lastShownMessage" class="last-shown-msg" role="status">{{ lastShownMessage }}</p>

</div>
<ul class="item-list">
  <li *ngFor="let inst of dataSource">
    <div class="image-container">
      <h3 class="title">{{ inst.instituteNameBn }}</h3><br>
      <table class="package"><br>
        <tr class="tblhead">
          <th class="tblth" colspan="3">EIIN No.</th>
          <th class="tblth" colspan="2"> {{ inst.eiinNo }}</th>
        </tr>
        <tr class="gap">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tbltd" colspan="3">Institute Type</td>
          <td class="tbltd" colspan="2"> {{ inst.instituteTypeName }}</td>
        </tr>
        <tr class="gap">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!-- <tr>
          <td class="tbltd" colspan="3">Govt Status</td>
          <td class="tbltd" colspan="2"> {{ inst.isGovt }}</td>
        </tr>
        <tr class="gap">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
        <tr>
          <td class="tbltd" colspan="3">Mobile No.</td>
          <td class="tbltd" colspan="2"> {{ inst.mobile }}</td>
        </tr>
        <tr class="gap">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tbltd" colspan="3">Alt. Contact</td>
          <td class="tbltd" colspan="2"> {{ inst.mobileAlternate }}</td>
        </tr>
        <tr class="gap">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tbltd" colspan="5"> {{ inst.email }}</td>
        </tr>
        <tr class="gap">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <p class="price">{{ inst.mouzaNameBn }}, {{ inst.thanaNameBn }}, {{ inst.districtNameBn }}</p>
      <p class="footer">
        <a [routerLink]="['/institutes', getInstituteSlug(inst)]" [routerLinkActive]="getInstituteSlug(inst)" class="item_footer">
          <i class="fa fa-shopping-cart"></i>Click to Show More Details...
        </a>
      </p>
    </div>
  </li>
</ul>

<div class="comment">
  <p style="color: darkred;">>>> {{ displayText }} <<<</p>
      <p style="color: darkgreen;"><button (click)="goPrevious()" [disabled]="!previous"
          class="previous npbtn">Previous</button><b style="font-size: 24px;">{{ displayText2 }}</b>
        <button (click)="goNext()" [disabled]="!next" class="next npbtn">Next</button>
      </p>
      <Table class="abbreviation">
        <tr class="tblhead2">
          <th class="tblth2"><u></u></th>
          <th class="tblth2"></th>
          <th class="tblth2"><u></u></th>
        </tr>
        <tr class="tblhead2">
          <td class="tbltd2"></td>
          <td class="tbltd2"></td>
          <td class="tbltd2"></td>
        </tr>
      </Table>
</div>

<div class="gap" style="height: 100px;"></div>