<div class="login_signup_form">
  <h2>Update Mobile</h2>
  <form [formGroup]="authForm" (ngSubmit)="onAuth()">
    <div class="form-group">
      <span class="label-colon"><label for="username">Mobile Number</label><span class="colon">:</span></span>
      <div class="form-field">
        <input type="text" class="form-control" id="username" [(ngModel)]="username" formControlName="username"
          [readonly]="true" [disabled]="true"
          style="user-select: none; pointer-events: none; text-align: center;" *ngIf="username"
          [value]="username" />
      </div>
    </div>
    <div class="form-group">
      <span class="label-colon"><label for="newusername">New Mobile N.</label><span class="colon">:</span></span>
      <div class="form-field">
        <input type="text" formControlName="newusername" id="newusername" placeholder="Your 11 digits mobile"
          class="form-control"
          [ngClass]="{ 'is-invalid': authForm.get('newusername')?.touched && authForm.get('newusername')?.invalid }" />
        <div *ngIf="isMobileNumberRegistered" class="error-message">
          This Mobile number is already registered. Please <a [routerLink]="['/login']" routerLinkActive="login">Login</a> /
          <a [routerLink]="['']" routerLinkActive="reset">Reset Password</a> / try with a different Mobile number.
        </div>
      </div>
    </div>
    <div class="form-group">
      <span class="label-colon"><label for="password">User Password</label><span class="colon">:</span></span>
      <div class="form-field">
        <div class="password-input-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password"
            placeholder="Enter your password"
            class="form-control"
            [ngClass]="{ 'is-invalid': authForm.get('password')?.touched && authForm.get('password')?.invalid }" />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()" title="Show/hide password">
            <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
          </button>
        </div>
        <div *ngIf="isPasswordMismatch" class="error-message">
          Your Password doesn't match. Please try again or <a [routerLink]="['']" routerLinkActive="reset">Reset</a>
          password / <a [routerLink]="['/auth']" routerLinkActive="auth">Signup</a> with a different Mobile number!
        </div>
        <div *ngIf="isPasswordLength" class="error-message">
          Password must be within 6 - 14 Characters.
        </div>
      </div>
    </div>

    <div #consoleOutput class="console-output"></div>
    <button type="submit" class="form-submit-btn">Update</button>
  </form>
</div>